* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    background-image: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
    ;
}

.countdown h5 {
    font-size: 15px;
    text-align: center;
}

.container img {
    margin: auto;
    width: 250px;
    display: none;
}

.container button {
    background: crimson;
    padding: 10px;
    border: none;
    color: white;
}